#btnPTypes, #btnUsrRoles, #btnWsFns, #btnTypes {
	margin:1% 0 1% 0;
	display:inline-block;
}
#ptypes_submit, #wsu_submit, #wsfns_submit, #types_submit {
	margin-top:1%;
	margin-bottom:2%;
}
#form_ptypes, #form_wsu, #form_wsfns, #form_types {
	display:none;
	width:100%;
}
#p_invisible {
	color:transparent;
}
#orig_active_pdt, #orig_active {
	display:none;
}
